body{
    background:#232323;
}
p{
    text-align:center;
}
h1.title{
    font-family:'Montserrat', Helvetica, sans-serif;
    color:white;
    font-size:30px;
}
h5.houseName{
    font-family:'Montserrat', Helvetica, sans-serif;
    text-align:center;
    font-size:24px;
}
h6.houseMaster{
    font-family:Helvetica, Arial, sans-serif;
    text-align:center;
    font-size:14px;
}
h1.housePoints{
    font-family:'Montserrat', Helvetica, sans-serif;
    text-align:center;
    font-size:90px;
}
img.houseImage{
    text-align:center;
    margin: 0 auto;
    width:200px;
}